<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NuciLog.hmlendea" version="1.1.0" targetFramework="net461" />
  <package id="NuciXNA.DataAccess" version="1.0.1" targetFramework="net461" />
  <package id="NuciXNA.Graphics" version="1.0.0" targetFramework="net461" />
  <package id="NuciXNA.Input" version="1.0.1" targetFramework="net461" />
  <package id="NuciXNA.Primitives" version="1.0.3" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.4.0" targetFramework="net461" />
</packages>