<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NuciLog.Core" version="1.0.6744.25348" targetFramework="net461" />
  <package id="NuciXNA.DataAccess" version="1.0.4.1" targetFramework="net461" />
  <package id="NuciXNA.Graphics" version="1.1.6751.33568" targetFramework="net461" />
  <package id="NuciXNA.Gui" version="1.5.6751.33803" targetFramework="net461" />
  <package id="NuciXNA.Input" version="1.0.1" targetFramework="net461" />
  <package id="NuciXNA.Primitives" version="1.0.4" targetFramework="net461" />
</packages>