<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NuciXNA.DataAccess" version="1.0.4.1" targetFramework="net461" />
  <package id="NuciXNA.Graphics" version="1.2.6754.23016" targetFramework="net461" />
  <package id="NuciXNA.Gui" version="1.6.6754.23399" targetFramework="net461" />
  <package id="NuciXNA.Input" version="1.0.1" targetFramework="net461" />
  <package id="NuciXNA.Primitives" version="1.1.6754.26060" targetFramework="net461" />
</packages>