<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NuciXNA.DataAccess" version="1.1.6764.23276" targetFramework="net461" />
  <package id="NuciXNA.Graphics" version="1.4.6766.31710" targetFramework="net461" />
  <package id="NuciXNA.Gui" version="1.8.6766.32319" targetFramework="net461" />
  <package id="NuciXNA.Input" version="1.1.6764.23188" targetFramework="net461" />
  <package id="NuciXNA.Primitives" version="1.2.6767.23015" targetFramework="net461" />
</packages>