<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NuciLog.Core" version="1.0.6744.25348" targetFramework="net461" />
  <package id="NuciXNA.DataAccess" version="1.1.6764.23276" targetFramework="net461" />
  <package id="NuciXNA.Graphics" version="1.4.6766.31710" targetFramework="net461" />
  <package id="NuciXNA.Primitives" version="1.2.6764.30556" targetFramework="net461" />
</packages>